<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LocationManger.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A6F1058D1F3987C0007CB86B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6F105A61F3987C0007CB86B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6F105B11F3987C0007CB86B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
